
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.one{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("../static/photos/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color:white;
    }

.one h4{
    font-size:30px;
    text-align: center;
    padding-top:350px;
    font-family: 'Pacifico', cursive;
    
}
.elabo,p{
    font-family: 'Gelasio', serif;
}

#motto{
    font-family: 'Pacifico', cursive;
}