
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
 
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: #75caf5; color: #ffffff; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1>BOOK</h1>
</div>



<div class="mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Book Here</h2>
            {{wtf.quick_form(form)}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<div class="row">
{% for blog_post in book %}
<div class="card p-3 ml-3 mt-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ blog_post.name}}</h5>
      <h5 class="card-title">{{ blog_post.tday}}</h5>
      <button type="button" class="btn btn-primary btn-lg">{{blog_post.tday}}</button>

    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
