{% extends 'base.html' %}
{%block content%}
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
<div class="jumbotron text-center"
    style="background-color: #75caf5; color: #ffffff; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1>About-Us</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">

    
    <div class="row">
        <div class="col-md-4">
            <div class="containers">
                <img src="../static/photos/me.JPG" alt="Avatar" class="image" style="width:170px;height:170px;">

                <div class="overlay">
                    <div class="text">kenneth</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="containers">
                <img src="../static/photos/trevoh.jpeg" alt="Avatar" class="image" style="width:170px;height:170px;">

                <div class="overlay">
                    <div class="text">trevor</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="containers">
                <img src="../static/photos/greg.jpeg" alt="Avatar" class="image" style="width:170px;height:170px;">

                <div class="overlay">
                    <div class="text">greg</div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}