{% extends 'base.html' %}


{%block content%}
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: #75caf5; color: #ffffff; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1>About-Us</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">
    <h2>Welcome to RTK pools where you will experience an unfogettable pool cleanliness. Here at RTK we not 
        only focus on hygiene of the swimmers but also we look into the safety of them. We specilise in the booking aspect of the pool
        in that a client has to book for a session inorder to swim. This really helps in the swimmers hygiene and cleanliness.
        We are located in Hardy near coo-operative university in Nairobi.
    </h2>
    
    
</div>
{%endblock%}