{% extends 'base.html' %}


{%block content%}
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: #75caf5; color: #ffffff; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1>Gallery</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">
    
    
</div>
{%endblock%}