
{% extends "base.html"%}
{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
{%endblock%}
{%block content%}


 <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div class="jumbotron text-center" style="background-color: #75caf5; color:#ffffff; font-family: 'Gloria Hallelujah', cursive;">
                <h1 class>HORIZON POOLS</h1>
            </div>
            <!-- <div class="col-md-12 col-lg-12 col-sm-12"> -->
                <div class="one">
                    <h4>Horizon pools is the place to be</h4> 
                    </div>
                    
           </div>
    </div>
    <!--cards-->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="elabo text-center mt-4">
            <h3>ELABORATION</h3>
            <p>Its the great home for the real divers, come along and feel the environment, of beauty and joy. No limitation just you and the fun of your life in our heaven</p></br>
            <p id="motto">sweet great Horizon for all</p>
        </div>
    </div>
</div>
    

        </div>  
          

   
{%endblock%}
