
{% extends 'base.html' %}
{%block styles%}
    {{ super() }}
    <!-- <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet"
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <!--link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"-->
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: #2629e4; color: #e8f0f3; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1>HORIZON POOLS</h1>
</div>
{%endblock%}
