{% extends "base.html"%}
{% block styles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
{%endblock%}

{%block content%}
<div class="jumbotron text-center" style="background-color: #75caf5; color: #e8f0f3; padding: 55px 25px; font-family: 'Gloria Hallelujah', cursive;">
    <h1 class>HORIZON POOLS</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="one">
        <p>one</p>
{%endblock%}