<div class="navbar navbar-light" role="navigation" style="margin-bottom:0; border-bottom: 1px solid;color:black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="fas fa-swimmer"></i></a>
        </div>
        <div class="navbar-collapse collapse" style="font-family: 'Oswald', sans-serif; font-size:20px;text-decoration:none;">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('main.index')}}">HOME</a></li>
                    <li><a href="{{url_for('main.about')}}">ABOUT US</a></li>
                    <li><a href="{{url_for('main.gallery')}}">GALLERY</a></li>
                    <li><a href="#">BOOK</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mt-2">
                    
                    <!-- <button class="btn btn-success my-2 my-sm-0" >LOGIN</button> -->
                    <a href="{{url_for('auth.login')}}" class="btn btn-info" style="float: right;" role="button" >Login</a>&nbsp;&nbsp;
                    <a href="{{url_for('auth.register')}}" class="btn btn-info" style="float: right;" role="button" >Register</a>

                </form>
                <ul class ="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style= 'margin-right:30px' data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>&nbsp;<strong>{{current_user.username}}</strong> </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href=""><i class="far fa-user"></i>&nbsp; My account</a>
                            <a class="dropdown-item" href=""><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a>
                          </div>
                          </li>
                          {% else %}

                    <li class="nav-item">
                  <a  class="nav-link mr-1" href=""><i class="fas fa-user-plus"></i></i>&nbsp; <strong>Register</strong></a>
              </li>
              <li class="nav-item">
                  <a  class="nav-link mr-5" href="" ><i class="fas fa-sign-in-alt "></i>&nbsp; <strong>Log In</strong></a>
              </li>
            {%endif%}
                                                  
        
                </ul>                    
            </div>
    </div>
</div>
