
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-swimmer"> Horizon</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index')}}">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.gallery')}}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.book')}}">Book</a>
      </li>
    </ul>
  </div>
  <a href="{{url_for('auth.login')}}" ><i class="fas fa-sign-in-alt"  style="float: right;">&nbsp; Log In</i></a>          

</nav>


    {%endblock%}
                    